.App {
    text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#imgLogo {
    width: 3em;
}

body {
    min-width: 100%;
    overflow-x: hidden;
    overflow-y: overlay;
}

#biography-ep,
#biography-gp {
    height: 7em;
    resize: none;
}

.swal2-input {
    width: 17em !important;
    margin: 0.5em 2em !important;
}

body.swal2-shown>[aria-hidden="true"] {
    transition: 0.1s filter;
    filter: blur(5px);
}

.swal2-image {
    border-radius: 350px;
}


.leaflet-container {
    width: 70vw;
    height: auto;
}

#homeA {
    color: black;
}

#addPlaceDyn {
    background: transparent;
    color: #81c784;
    border: 2px solid #81c784;
    border-radius: 6px;
    font-size: 1.2em;
}

#addPlaceDyn:hover {
    background: #81c784;
    color: black;
    border: 2px solid #81c784;
    border-radius: 6px;
    font-size: 1.2em;
}